﻿#indexedDBViewer {
    padding: 0px;
    margin: 0px;
    font-family: Sans-serif;
    font-size: 12px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 150px;
    z-index: 999999;
    background-color: lightgray;
    overflow: hidden;
}

#indexedDBViewer li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}  
        
#indexedDBViewer ul {
    list-style: none;
    margin: 0px;
    padding: 0px 0px 0px 15px;
} 

#indexedDBViewer h1 {
    padding: 0px 0px 5px 0px;
    margin: 0px;
    font-size: 14px;
} 

#indexedDBViewerHeader {
    height: 15px;
    width: 100%;
    cursor: row-resize;
    text-align: right;
}

#indexedDBViewerHeader span {
    cursor: pointer;
    height: 13px;
    width: 13px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
}

#indexedDBViewerNavigation {
    display: inline-block;
    height: 135px;
    width: auto;
    min-width: 200px;
    vertical-align: top;
    padding: 2px 2px 2px 2px;
    overflow: auto;
}

#indexedDBViewerContent {
    display: inline-block;
    height: 135px;
    width: auto;
    min-width: 400px;
    vertical-align: top;
    padding: 2px 2px 2px 12px;
    overflow: auto;
}

#indexedDBViewerContentObjectStoresTable {
    width: 100%
}

#indexedDBViewerContentObjectStoresRowHeaderName {
    width: auto;
    min-width: 100px;
    text-align: left;
}

#indexedDBViewerContentObjectStoresRowHeaderKeyPath {
    width: 100px;
    text-align: left;
}

#indexedDBViewerContentObjectStoresRowHeaderAutoIncrement {
    width: 100px;
    text-align: left;
}

#indexedDBViewerContentIndexTable {
    width: 100%
}
        
#indexedDBViewerContentIndexRowHeaderName {
    width: auto;
    min-width: 150px;
    text-align: left;
}
        
#indexedDBViewerContentIndexRowHeaderKeyPath {
    width: auto;
    min-width: 100px;
    text-align: left;
}
        
#indexedDBViewerContentIndexRowHeaderObjectStore {
    width: auto;
    min-width: 100px;
    text-align: left;
}
        
#indexedDBViewerContentIndexRowHeaderMultiEntry {
    width: 100px;
    text-align: left;
}

#indexedDBViewerContentIndexRowHeaderUnique {
    width: 100px;
    text-align: left;
}

#indexedDBViewerContentObjectStoreRowHeaderKey {
    width: auto;
    min-width: 100px;
    text-align: left;
}

#indexedDBViewerContentObjectStoreRowHeaderValue {
    width: auto;
    min-width: 400px;
    text-align: left;
}
        
#indexedDBViewerContentIndexRowHeaderKey {
    width: auto;
    min-width: 100px;
    text-align: left;
}
        
#indexedDBViewerContentIndexRowHeaderPrimaryKey {
    width: auto;
    min-width: 100px;
    text-align: left;
}

#indexedDBViewerContentIndexRowHeaderValue {
    width: auto;
    min-width: 400px;
    text-align: left;
}

#indexedDBViewerContentObjectStoreTable td, #indexedDBViewerContentIndexTable td {
    vertical-align: top;
    text-align: left;
    padding: 0px;
    margin: 0px;
    }

#indexedDBViewer .clickable {
    cursor: pointer;
}
